<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>

    <meta charset="UTF-8">

    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="p-3 mb-2 bg-light text-dark">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

    <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">

            <i class="fa fa-bars"></i>

        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <button class="btn btn-warning btn-sm" type="button" onclick="location.href='/';">Home
                        </button>
                        </p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <button class="btn btn-info btn-sm" type="button" onclick="location.href='/profile';">Profile
                        </button>
                        </p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <button class="btn btn-danger btn-sm" type="button" onclick="location.href='/logout';">Log out
                        </button>
                        </p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <badge class="badge badge-success" th:text="'Account: ' + ${user.getUserType()}"></badge>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead">

    <div class="overlay"></div>
    <div class="text-white bg-dark">
        <div class="container">
            <br/> <br/><br/>
            <div class="row">

                <div class="col-lg-8 col-md-10 mx-auto">

                    <div class="site-heading">

                        <div class="text-white bg-dark">
                            <h1 style="text-align: center; padding: 40px;border-top: 2px groove white;border-bottom: 2px groove white;">
                                Welcome home <span class="badge badge-light">Karolina Kwiecień</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div style="text-align: center;">

    <div>
        <h1>Choice your avatar!</h1>
        <h1 th:if="${info != null}" th:text="${info}"></h1>
        <form method="post" th:action="@{/user/avatar}" enctype="multipart/form-data">
            <input type="file" th:name="avatar" value="Choose file...">
            <button type="submit">Send</button>
        </form>

        <br/>
        <img height="200" width="200" th:src="${@environment.getProperty('url.to.avatars') + user.getLogin()}"/>
    </div>
</div>
</body>
</html>